body {
    font-family: Arial;
}

a {
    color: white;
    text-decoration: none;
}

.nav {

    font-family: Arial;
    font-size: 150%;
    background-color: black;
    margin: 0%;
    position: fixed;
}

.nav a {
    color: gray;
    padding: 15px 15px;
    text-decoration: white;
}

.nav a.active {
    background-color: black;
    color: white;
}

.container {
    margin-left: -2%;
    margin-right: -1%;
    z-index: 1;
}


* {
    box-sizing: border-box;
}

.column-boarder {
padding: 7%;
    margin-bottom: 35%;
}

.container {
    display: flex;
    padding: 10%;
}

.containerH {
    display: flex;

}

.Winona {
    height: 10%;

}


.col {
 float: right
}

.row {
;
}


.col-8 {
    max-height: 60%;
}

.col-4 {
    max-height: 60%;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 2%;


}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;

}

.Hobbies {
    display: flex;
    left: 20%;
    top: 2%%;
}

.Kontakt {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    background-image:url("images/jana.jpg");
   background-size: cover;
    color: white;
}


footer {
    color: white;
    background-color: black;
    padding: 5%;
    text-align: center;


}

